html,
body {
    height: 100% !important;
    width: 100% !important;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1em;
    background-color: white;
    color: black;
}


/* Navbar */

.navbar-bg {
    background-color: #1a1a1a !important;
}

.navbar-inverse .navbar-nav .nav-link {
    color: white;
}


/*********/


/* Footer */

#footer a:hover {
    color: #00aeef;
}


/*********/


/* Slim Marketplace table*/

@media screen and (max-width: 992px) {
    #slimMarketplace table {
        display: block;
        margin: auto;
        width: 100%;
        overflow-x: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    #slimMarketplace {
        width: 100% !important;
    }
    #marketplace table {
        display: block;
        margin: auto;
        width: 100%;
        overflow-x: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    #marketplace {
        width: 100% !important;
    }
    #marketpalce form {
        float: center;
    }
}


/********/

.h-34 {
    height: 34px;
}

.w-100 {
    width: 100px;
}

.w-100p {
    width: 100%;
}

.w-45p {
    width: 45%;
}

.w-50p {
    width: 50%;
}

.w-55p {
    width: 55%;
}

.w-25p {
    width: 25%;
}

.w-33p {
    width: 33%;
}

.w-30p {
    width: 30%;
}

.center {
    margin: auto;
    width: 50%;
}

.slider-center {
    display: block;
    margin: 0 auto
}

.txt-underline {
    text-decoration: underline;
}

.txt-ctr {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.cl-white {
    color: white;
}

.cl-black {
    color: black;
}

.bg-cl-black {
    background-color: black;
}

.bg-cl-white {
    background-color: white;
}

.cl-success {
    color: #5cb85c;
}

.cl-warning {
    color: #e13443;
}

.cl-gold {
    color: #bf9832;
}

.cl-blue-connect {
    color: #00aeef;
}

.bg-cl-blue-connect {
    background-color: #00aeef;
}

.mar-auto {
    margin: auto;
}

.mar-0 {
    margin: 0px;
}

.mar-10 {
    margin: 10px;
}

.mart-0 {
    margin-top: 0px;
}

.mart-5 {
    margin-top: 5px;
}

.mart-10 {
    margin-top: 10px;
}

.mart-15 {
    margin-top: 15px;
}

.mart-20 {
    margin-top: 20px;
}

.mart-10p {
    margin-top: 10%;
}

.mart-28 {
    margin-top: 28px;
}

.mart-30 {
    margin-top: 30px;
}

.marb-0 {
    margin-bottom: 0px;
}

.marb-5 {
    margin-bottom: 5px;
}

.marb-10 {
    margin-bottom: 10px;
}

.marb-14 {
    margin-bottom: 14px;
}

.marb-15 {
    margin-bottom: 15px;
}

.marb-20 {
    margin-bottom: 20px;
}

.marb-25 {
    margin-bottom: 25px;
}

.marb-30 {
    margin-bottom: 30px;
}

.marb-50 {
    margin-bottom: 50px;
}

.marl-25p {
    margin-left: 25%;
}

.marr-25p {
    margin-right: 25%;
}

.marr-5 {
    margin-right: 5px;
}

.marr-10 {
    margin-right: 10px;
}

.marl-10 {
    margin-left: 10px;
}

.pad-0 {
    padding: 0px;
}

.pad-5 {
    padding: 5px;
}

.pad-10 {
    padding: 10px;
}

.pad-30 {
    padding: 30px;
}

.pad-40 {
    padding: 40px;
}

.padt-5 {
    padding-top: 5px;
}

.padt-10 {
    padding-top: 10px;
}

.padt-13 {
    padding-top: 13px;
}

.padt-14 {
    padding-top: 14px;
}

.padt-20 {
    padding-top: 20px;
}

.padt-30 {
    padding-top: 30px;
}

.padt-40 {
    padding-top: 40px;
}

.padt-50 {
    padding-top: 50px;
}

.padt-56 {
    padding-top: 56px;
}

.padt-80 {
    padding-top: 80px;
}

.padt-10p {
    padding-top: 10%;
}

.padb-0 {
    padding-bottom: 0px;
}

.padb-10 {
    padding-bottom: 10px;
}

.padb-20 {
    padding-bottom: 20px;
}

.padb-30 {
    padding-bottom: 30px;
}

.padb-40 {
    padding-bottom: 40px;
}

.padb-60 {
    padding-bottom: 60px;
}

.padl-10 {
    padding-left: 10px;
}

.padl-40 {
    padding-left: 40px;
}

.padl-20p {
    padding-left: 20%;
}

.padr-40 {
    padding-right: 40px;
}

.padr-30 {
    padding-right: 30px;
}

.padr-20 {
    padding-right: 20px;
}

.padr-10 {
    padding-right: 10px;
}

.padr-20p {
    padding-right: 20%;
}

.fa-1p4x {
    font-size: 1em !important;
}

.fs-11 {
    font-size: 11px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.disp-none {
    display: none;
}

.disp-in {
    display: inline;
}

.disp-bl {
    display: block;
}

.disp-fl {
    display: flex;
}

.pos-rel {
    position: relative;
}

.bord-rd {
    border-radius: 5px;
}

.bord-rd-tl {
    border-top-left-radius: 5px;
}

.bord-rd-tr {
    border-top-right-radius: 5px;
}

.bord-rd-bl {
    border-bottom-left-radius: 5px;
}

.bord-rd-br {
    border-bottom-right-radius: 5px;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.section {
    background-color: white;
}

.section-alt {
    background-color: #f7f7f7;
}

.bt-ini {
    bottom: initial;
}

.min-w-200 {
    min-width: 200px;
}

.min-w-230 {
    min-width: 200px;
}

.min-w-280 {
    min-width: 280px;
}

.min-w-130 {
    min-width: 130px;
}